.Header {
    position: relative;
}

/* @group Header */
#header {
    background: #fff;
    height: 210px;
    position: relative;
    z-index: 99;
}

#header.logo {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 249px;
    background: transparent url('/src/assets/img/logo.png') no-repeat left top;
    text-indent: -99999em;
}